body {
  width: 85%;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: white;
  background: linear-gradient(
    179.5deg,
    rgb(250, 230, 98) 3.3%,
    rgb(252, 168, 95) 96%
  );
}

footer {
  text-align: center;
  margin: 15px auto;
}

.navibar {
  margin: 20px auto;
}

.fa-location-dot {
  font-size: 17pt;
  color: whtie;
  margin: 5px;
}

.current-location {
  display: inline;
  /* font-family: "Quicksand", sans-serif; */
  font-size: 16pt;
  font-weight: 700;
}

.search-bar {
  display: inline;
  width: 200px;
  font-size: 13pt;
}

.search-btn {
  display: inline;
}

.current-logo {
  font-size: 60pt;
}

.main-weather-container {
  margin: 50px auto;
  width: 90%;
  text-align: center;
}

.main-weather-img {
  display: block;
  width: 150px;
  margin: 15px auto;
}

.current-temp {
  font-size: 55pt;
  font-weight: 600;
  margin: 10px auto;
}

.weather-description {
  /* font-family: "Quicksand", sans-serif; */
  font-size: 17pt;
}

.today-temp {
  /* font-family: "Quicksand", sans-serif; */
  font-size: 15pt;
}

.local-time {
  font-size: 13pt;
  /* font-family: "Quicksand", sans-serif; */
}

.card-container {
  /* margin: 0 auto; */
}

.card-title {
  font-size: 17pt;
  font-weight: 600;
  margin-top: 10px;
}

.card-body {
  /* border-style: none; */
}

.weather-icon {
  width: 50px;
  display: block;
  margin: 40px auto;
}

.weekday {
  font-size: 13pt;
  font-weight: 500;
}
